<app-navbar></app-navbar>
<div class="root-page-main scrollable-root">
  <section id="home-section"><app-home></app-home></section>
  <section id="thoughts-section"><app-thoughts></app-thoughts></section>
  <section id="timeline-section"><app-timeline></app-timeline></section>
  <section id="gallery-section"><app-gallery></app-gallery></section>
  <section id="memory-recap-section"><app-memory-recap></app-memory-recap></section>
  <section id="games-section"><app-games></app-games></section>
  <section id="love-counter-section"><app-love-counter></app-love-counter></section>
</div>
